<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autocomplete Search</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">My Component</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Recent Searches</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center mb-4">Search</h1>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="search-box position-relative">
                    <input type="text" id="autocomplete" class="form-control" placeholder="Search...">
                    <i class="fas fa-search position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%);"></i>
                    {% comment %} <form method="get">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form> {% endcomment %}
                    <div id="suggestions" class="autocomplete-suggestions"></div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            function validateInput(input) {
                input = input.replace(/[^a-zA-Z0-9\s]/g, ''); 
                input = input.replace(/\s{2,}/g, ' '); 
                return input;
            }

            $('#autocomplete').on('input', function() {
                var term = $(this).val();
                term = validateInput(term);
                $(this).val(term);

                if (term.length > 0) {
                    $.ajax({
                        url: "{% url 'autocomplete' %}",
                        data: {
                            'term': term
                        },
                        success: function(data) {
                            $('#suggestions').empty();
                            data.forEach(function(item) {
                                $('#suggestions').append('<div class="autocomplete-suggestion">' + item + '</div>');
                            });
                        }
                    });
                } else {
                    $('#suggestions').empty();
                }
            });

            $(document).on('click', '.autocomplete-suggestion', function() {
                $('#autocomplete').val($(this).text());
                $('#suggestions').empty();
            });
        });
    </script>
</body>
</html>
